// /* YOUR CUSTOM STYLES */
$body-color: #5c5c5c;

body {
    color: #5c5c5c;
    font-family: Montserrat, sans-serif;
  }
.hero{
  font-family: Roboto;
  // height: 670px;
  // background: url("../img/computer.jpeg")no-repeat center center;
  background-size: cover;
}
  .purple-gradient {
  background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5);
  background: linear-gradient(40deg, #ff6ec4, #7873f5); }
}
.hm-gradient .full-bg-img {
            background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
            background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
            background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
            background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
            background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
        }
.hm-gradient .mask {
  background: -webkit-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.7)), to(rgba(91, 14, 214, 0.7)));
  background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%); }
.vew,.about-title{
  font-family: Roboto;
  height: 300px;
  background: url("../img/Icon_back.jpg")no-repeat center fixed;
}
.vew,.skills-title{
  font-family: Roboto;
  height: 300px;
  background: url("../img/Icon_back.jpg")no-repeat center fixed;
}
.vew,.contact-title{
  font-family: Roboto;
  height: 300px;
  background: url("../img/Icon_back.jpg")no-repeat center fixed;
}
.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dotted-scrollspy{
  display:block;
  position:fixed;
  top:50%;
  right:0;
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  background:rgba(0,0,0,.55);
  -webkit-border-radius:2px 0 0 2px;
  -moz-border-radius:2px 0 0 2px;
  -ms-border-radius:2px 0 0 2px;
  -o-border-radius:2px 0 0 2px;
  border-radius:2px 0 0 2px
}
.dotted-scrollspy li{
  display:block;
  padding:0 1px
}
.dotted-scrollspy li:first-child{
  padding-top:10px
}
.dotted-scrollspy li:last-child{
  padding-bottom:10px
}
.dotted-scrollspy li a span{
  display:block;
  background-color:rgba(255,255,255,.54);
  width:8px;
  height:8px;
  border-radius:50%
}
.min-chart,.percent{
  display:inline-block
}
.dotted-scrollspy li a.active span{
  background:#fff
}
h2.section-heading {

  font-weight: 700;

  text-transform: uppercase;
}
h5.h5-responsive {
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
h4.lead {
  font-weight: 700;
}
h2.intro-heading {
  font-size: 4.25rem;
    font-weight: 600;
    line-height: 1.1;
    font-family: Roboto;
}
h3.intro-subtext,nav.navbar {
  font-family: Roboto;
}
.card .card-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.card .card-up .card-data {
  float:right;
  margin-top: 2rem;
  text-align: right;

  p {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
  }

}
.card .card-up .data {
  float:left;
  margin-top: 2rem;
  text-align: left;

  p {
    color: #999;
    float:left;
    font-size: 12px;
    text-transform: uppercase;
  }

}
.card .card-up .fa {
  color: #fff;
  padding: 1.7rem;
  font-size: 2rem;
  border-radius: 3px;
  margin-right: 1rem;
  float: left;
}
.card-block > hr {
  margin-top: -1rem;
}
i.skills-cat{
  font-size: 10px;
}
.navbar .navbar-projects {
    background-color: #1abc9c;
}

#flash-message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  animation: flash-message 10s forwards;
}
@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}
.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}
.card.card-cascade.narrower {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}
.card.card-cascade .view.gradient-card-header {
    padding: 1.6rem 1rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.card-cascade .view {
    border-radius: 4px;
}
.card.card-cascade.narrower {
    margin-top: 20px;
}
.card.card-cascade {
    width: 100%;
}
.rounded-circle {
    max-width: 170px;
    height: auto;
}
img.rounded-circle {
    border-radius: 50%;
}
.skills_container{
  background: $skills-list-group-bg;

  .list-group-item:first-child {
    border-top: 1px solid $skills-list-group-bg;
    border-right: 1px solid $skills-list-group-bg;
    border-left: 1px solid $skills-list-group-bg;

  }

  .list-group-item:last-child {
    border-right: 1px solid $skills-list-group-bg;
    border-left: 1px solid $skills-list-group-bg;
  }
  .list-group-item {
    border-right: 1px solid $skills-list-group-bg;
    border-left: 1px solid $skills-list-group-bg;
    background: $skills-list-group-bg;
  }
}
.pagination.pagination-circle .active .page-link, .pagination.pagination-circle .page-link:hover {
    border-radius: 50%;
}
.btn-floating {
    z-index: 1;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-color: #a6c;
    -webkit-transition: .3s;
    transition: .3s;
    background: #4285F4;
    position: relative;
    margin: 10px;
    vertical-align: middle;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        text-decoration: none;
        text-align: center;
}
.btn-floating i {
    width: inherit;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    color: #fff;
}
.carousel-example-2 .controls-top {
    margin-bottom: 30px;
        text-align: center;
        color: #212529;
}
.carousel-example-2 .carousel-indicators {
  position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    margin-bottom: -2em;
    justify-content: center;
    display: flex;
padding-left: 0;
margin-right: 15%;
margin-left: 15%;
list-style: none;
    -webkit-box-pack: center;
}

.carousel-example-2 .carousel-indicators .active {
    height: 25px;
    max-width: 25px;
    background-color: #4285F4;
    border-radius: 50%;
}
.carousel-example-2 .carousel-indicators li {
    height: 20px;
    max-width: 20px;
    background-color: #4285F4;
    margin-bottom: -60px;
  }
