footer.page-footer {
  background-color: #ed445a;
  color: white;

  .footer-nav{
    color: #fff;
  }

  div.footer-copyright {
    background-color: #ed445a;
    color: white;
  }
}

h5.h5-responsive {
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
