footer.page-footer {
  background-color: #044F67;
  color: white;

  .footer-nav{
    color: #fff;
  }

  div.footer-copyright {
    background-color: #D2D7D3;
    color: #264348;
  }
}

h5.h5-responsive {
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
